<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Cartelera</title>
</head>
<body class="bg-gray">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid px-5 py-2">
            <a class="navbar-brand" href="/">
                <img class="img-fluid w-75" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto text-center">
                    <a class="btn mx-auto mx-lg-0 btn-outline-danger px-5 rounded-0 border-2 mt-4 mt-lg-0"
                        href="/cartelera">CARTELERA</a>
                    <div class="position-relative mx-auto ms-lg-5 mt-4 mt-lg-0 w-50">
                        <input class="form-control me-lg-2 rounded-start" type="search" aria-label="Search">
                        <button
                            class="btn btn-dark border-danger border-2 rounded-circle position-absolute top-50 start-100 translate-middle"
                            type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search mb-1" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="position-relative mx-auto mt-4 mt-lg-0 mx-lg-0 w-4rem">
                    <a class="btn btn-danger rounded-pill dropdown-login" href="/login/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                            class="bi mb-5 pb-1 bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <div class="position-absolute top-50 start-100 translate-middle bg-dark rounded-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi text-danger bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-4 col-md-8 mx-auto">
              <h1 class=".fontf">Cartelera</h1>
            </div>
          </div>
        </section>
    
        <div class="album py-2 bg-light, body">
          <div class="container">
    
            <div class="row row-cols-2 row-cols-sm-1 row-cols-md-3 g-4">
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img1">
                  </svg>
    
                  <div class="cb">
                    <p id = "p1" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" id="img2">
                  </svg>
    
                  <div class="cb">
                    <p id = "p2" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img3">
                  </svg>
    
                  <div class="cb">
                    <p id = "p3" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img4">
                  </svg>
    
                  <div class="cb">
                    <p id = "p4" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img5">
                  </svg>
    
                  <div class="cb">
                    <p id = "p5" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img6">
                  </svg>
    
                  <div class="cb">
                    <p id = "p6" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img7">
                  </svg>
    
                  <div class="cb">
                    <p id = "p7" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img8">
                  </svg>
    
                  <div class="cb">
                    <p id = "p8" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="card">
                  <svg class="bs" width="100%" height="451" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false" id="img9">
                  </svg>
    
                  <div class="cb">
                    <p id = "p9" class="ctext">
    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      
                      <small class="text-tiempo">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
    
      </main>
    <ul>
        {% for film in films: %}
            <li> {{ film["titulo_original"] }} </li>
        {% endfor %}
    </ul>
    <br>
    <p align="center"><a href=/pelispedia/><button class=grey style="height:75px;width:150px">Pelicula</button></a></p>
</body>
</html>
