<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
    <h1>Ingreso de Usuario</h1>
    <br>
    <p align="center"><a href=/registro/><button class=grey style="height:75px;width:150px">Registro</button></a></p>
  <br>
    <p align="center"><a href=admin.html><button class=grey style="height:75px;width:150px">SuperAdmin/Admin</button></a></p>
   <br>
    <p align="center"><a href=pagos.html><button class=grey style="height:75px;width:150px">Pasarela de Pagos</button></a></p>
</body>
</html>
