@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
html,
.bg-gray {
    background: #363636;
}
.bg-black {
    background: #000;
}
.dropdown-login {
    width: 4rem; 
    height: 1.55rem;
}
.w-4rem {
    width: 4rem; 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .body {
    background-color: #363636;
  }

  h1 {
    color: #ffffff;
    text-shadow: 0px 4px 4px #B5121B;
  }
  h2 {
    color: #c4c4c4;
    text-shadow: 0px 4px 4px #B5121B;
  }

  .bs {

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(181, 18, 27, 0.66);

  }

  .card {
    background: #C4C4C4;
    padding: 10px;
    width: 342px;
    height: 692px;
  }

  .cb{
    flex:1 1 auto;
    padding:1rem 1rem
  }

  .ctext{
    margin-bottom:0
  }

  .text-tiempo{
    --bs-text-opacity:1;
    color:#6c757d!important
  }

 
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
   ;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
    color: #B5121B;
    color: #B5121B;
  }
  .textcolor{
    color: #B5121B;
    font-size: medium;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 5;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
  
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #right {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
  }
  
  #right form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  
  #right form input,
  #right form select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    border: none;
    border-bottom: 1.5px solid #ccc;
    padding: 5px;
    margin-top: 2.5px;
    position: relative;
  }
  
  #right form .form-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 12.5px;
  }
  
  #right form #date-val {
    display: flex;
    justify-content: space-between;
  }
  
  #right form #date-val select {
    width: 45%;
  }
  .btn{
    background-color: #B5121B;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 10px;
  }

  #right form button[type=submit] {
    background: linear-gradient(135deg, #b5121b 0%, #f8444d 100%);
    padding: 5px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 10px;
  }
  
  #right form button[type=submit]:hover {
    background: transparent;
    box-shadow: 0 0 0 3px #B5121B;
    color: #B5121B;
  }

/* pelis */

  
html {
    
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
@media screen and (min-width:769px),
print {
    .is-block-tablet {
        display: block !important
    }
}
@media screen and (min-width:769px),
print {
    .is-hidden-tablet {
        display: none !important
    }
}
.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: .75rem
}
@media screen and (min-width:769px),
print {
    .column.is-9,
    .column.is-9-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 75%
    }
}
.columns.is-gapless>.column {
    margin: 0;
    padding: 0 !important
}
@media screen and (min-width:769px),
print {
    .columns:not(.is-desktop) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}
.container,
.section__header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}
@media screen and (min-width:1408px) {

    .container,
    .section__header {
        max-width: 1344px
    }
}
.aos-animate {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
@media screen and (min-width:1024px) {
    .movie-banner:not(.carousel-section) {
        padding-top: 5rem;
        margin-top: 0
    }
}
@media screen and (min-width:1408px) {
    .movie-banner:not(.carousel-section) {
        padding-top: 7rem
    }
}
.movie-banner {
    background-color: #363636;
    background: linear-gradient(to bottom, #363636 26.5%, transparent 26.6%)
}
.movie-banner-wrapper {
    position: relative
}
.movie-banner-wrapper .column.is-3 {
    z-index: 1
}
.movie-banner-poster {
    border-radius: 5px;
    overflow: hidden;
    line-height: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    left: 7.5%
}
.movie-banner-poster:not(.is-shadowless) {
    -webkit-box-shadow: 0 0 10px #b5121a8d;
    box-shadow: 0 0 10px #b5121a69
}
.movie-banner-poster img {
    width: 100%
}
.movie-banner-poster img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%
}
.movie-banner-poster::after {
    content: "";
    display: block;
    padding-bottom: 150%
}
.movie-banner-main__image img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%
}
.movie-banner-main__image::after {
    content: "";
    display: block;
    padding-bottom: 50%
}
.movie-banner-main__content::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #000 0, transparent 95%)
}
.movie-banner-main__action {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1rem;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    border: 4px solid #fff
}
.movie-banner-main__action svg {
    -webkit-transform: scale(2.5);
    transform: scale(2.5)
}
.movie-banner-container {
    border-left: 2px solid #000;
    border-right: 2px solid #000
}
.movie-banner-container::before {
    content: '';
    display: block;
    width: 10rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: calc(100% + 2px);
}
.movie-details {
    font-size: .75rem;
    padding: .5rem 0;
    color: #000;
    line-height: 1.75
}
.movie-details__block {
    padding: .6875rem 0
}
.movie-details .title {
    font-size: .9rem
}
@media screen and (min-width:1024px) {
    .movie-info__title.title {
        font-size: 2.1875rem
    }
}
.theater-info-section .slider:not(.is-contained) {
    width: calc(100% + (1.625rem * 2));
    margin: 0 -1.625rem
} 

/* chek */
.list-group {
  width: auto;
  max-width: 460px;
  margin: 4rem auto;
}

.list-group-checkable {
  display: grid;
  gap: .5rem;
  border: 0;
}
.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: #b5121a86;
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}