.bg-gray {
    background: #363636;
}
.bg-black {
    background: #000;
}
.dropdown-login {
    width: 4rem; 
    height: 1.55rem;
}
.w-4rem {
    width: 4rem; 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .body {
    background-color: #363636;
  }

  h1 {
    color: #ffffff;
    text-shadow: 0px 4px 4px #B5121B;
  }

  .bs {

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(181, 18, 27, 0.66);

  }

  .card {
    background: #C4C4C4;
    padding: 10px;
    width: 342px;
    height: 692px;
  }

  .cb{
    flex:1 1 auto;
    padding:1rem 1rem
  }

  .ctext{
    margin-bottom:0
  }

  .text-tiempo{
    --bs-text-opacity:1;
    color:#6c757d!important
  }

 
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
   ;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
    color: #B5121B;
    color: #B5121B;
  }
  .textcolor{
    color: #B5121B;
    font-size: medium;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 5;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
  
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
