@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
html,
.bg-gray {
    background: #363636;
}
.bg-black {
    background: #000;
}
.dropdown-login {
    width: 4rem; 
    height: 1.55rem;
}
.w-4rem {
    width: 4rem; 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .body {
    background-color: #363636;
  }

  h1 {
    color: #ffffff;
    text-shadow: 0px 4px 4px #B5121B;
  }

  .bs {

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(181, 18, 27, 0.66);

  }

  .card {
    background: #C4C4C4;
    padding: 10px;
    width: 342px;
    height: 692px;
  }

  .cb{
    flex:1 1 auto;
    padding:1rem 1rem
  }

  .ctext{
    margin-bottom:0
  }

  .text-tiempo{
    --bs-text-opacity:1;
    color:#6c757d!important
  }

 
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
   ;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
    color: #B5121B;
    color: #B5121B;
  }
  .textcolor{
    color: #B5121B;
    font-size: medium;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 5;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
  
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #right {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
  }
  
  #right form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  
  #right form input,
  #right form select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    border: none;
    border-bottom: 1.5px solid #ccc;
    padding: 5px;
    margin-top: 2.5px;
    position: relative;
  }
  
  #right form .form-field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 12.5px;
  }
  
  #right form #date-val {
    display: flex;
    justify-content: space-between;
  }
  
  #right form #date-val select {
    width: 45%;
  }
  
  #right form button[type=submit] {
    background: linear-gradient(135deg, #4183d7 0%, #66cc99 100%);
    padding: 5px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 12pt;
    margin-top: 10px;
  }
  
  #right form button[type=submit]:hover {
    background: transparent;
    box-shadow: 0 0 0 3px #4183d7;
    color: #4183d7;
  }