<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Cinema Cinefilos - Super Administrador</title>
</head>
<body class="bg-gray">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid px-5 py-2">
            <a class="navbar-brand" href="/">
                <img class="img-fluid w-75" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto text-center">
                    <a class="btn mx-auto mx-lg-5 btn-outline-danger px-5 rounded-0 border-2 mt-4 mt-lg-0"
                        href="/cartelera">CARTELERA</a>
                    <div class="position-relative mx-auto ms-lg-0 mt-4 mt-lg-0 w-50">
                        <input class="form-control me-lg-2 rounded-start" type="search" aria-label="Search">
                        <button
                            class="btn btn-dark border-danger border-2 rounded-circle position-absolute top-50 start-100 translate-middle"
                            type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search mb-1" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="position-relative mx-auto mt-4 mt-lg-0 mx-lg-0 w-4rem">
                    <a class="btn btn-danger rounded-pill dropdown-login" href="/login2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                            class="bi mb-5 pb-1 bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <div class="position-absolute top-50 start-100 translate-middle bg-dark rounded-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi text-danger bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-4 col-md-8 mx-auto">
            <h1 class=".fontf">Dashboard Super Administrarivo</h1>
          </div>
        </div>
    </section>
    
    
    <div class="container-fluid">
		<div class="container">
 			<hr>
			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="post" action="crear.php">
						<fieldset>							
							<label for="crear pelicula" class="text-light form-label lead">Crear Pelicula</label>
                            <br>
 							<div class="col-md-12">
								<input type="text" name="pelicula" id="pelic" class="form-control input-lg" placeholder="Nombre de la Pelicula">
							</div>

                            <div class="col-md-12">
								<input type="text" name="peliculaO" id="pelicOr" class="form-control input-lg" placeholder="Nombre Original de la Pelicula">
							</div>

                            <div class="col-md-12">
								<input type="text" name="genero" id="genero" class="form-control input-lg" placeholder="Genero y Clasificación">
							</div>

                            <div class="col-md-12">
								<input type="text" name="estreno" id="estreno" class="form-control input-lg" placeholder="Fecha de Estreno y Duración">
							</div>


                            <div class="col-md-12">
								<input type="text" name="dir" id="dir" class="form-control input-lg" placeholder="Director y Elenco">
							</div>

                            <div class="col-md-12">
								<input type="text" name="Syp" id="syp" class="form-control input-lg" placeholder="Sypnosis">
							</div>
							<div class="col-md-12">
								<input type="text" name="Hor" id="hor" class="form-control input-lg" placeholder="Horario">
							</div>
                            <div class="col-md-12">
								<input type="text" name="Pues" id="pues" class="form-control input-lg" placeholder="Numero de puestos">
							</div>
							<br>
                            <label for="nombre" class="text-light form-label lead">Imagen </label>
                            <input type="file" id="img" name="img" accept="image/*">
                            <br>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-danger"   value="Crear">
 							</div>
						</fieldset>
					</form>

                    <br>
                    <form role="form" method="post" action="buscar.php">
						<fieldset>							
							<label for="Editar pelicula" class="text-light form-label lead">Buscar Pelicula</label>
                            <br>
 							<div class="col-md-12">
								<input type="text" name="Bpelicula" id="Bpelic" class="form-control input-lg" placeholder="Nombre de la Pelicula">
							</div>
							<br>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-danger"   value="Buscar">
 							</div>
						</fieldset>
					</form>

                    <br>
                    <form role="form" method="post" action="editar.php">
						<fieldset>							
							<label for="crear pelicula" class="text-light form-label lead">Editar Pelicula</label>
                            <br>
 							<div class="col-md-12">
								<input type="text" name="Epelicula" id="Epelic" class="form-control input-lg" placeholder="Nombre de la Pelicula">
							</div>

                            <div class="col-md-12">
								<input type="text" name="EpeliculaO" id="EpelicOr" class="form-control input-lg" placeholder="Nombre Original de la Pelicula">
							</div>

                            <div class="col-md-12">
								<input type="text" name="Egenero" id="Egenero" class="form-control input-lg" placeholder="Genero y Clasificación">
							</div>

                            <div class="col-md-12">
								<input type="text" name="Eestreno" id="Eestreno" class="form-control input-lg" placeholder="Fecha de Estreno y Duración">
							</div>


                            <div class="col-md-12">
								<input type="text" name="Edir" id="Edir" class="form-control input-lg" placeholder="Director y Elenco">
							</div>

                            <div class="col-md-12">
								<input type="text" name="ESyp" id="Esyp" class="form-control input-lg" placeholder="Sypnosis">
							</div>
							<br>
                            <div class="col-md-12">
								<input type="text" name="EHor" id="Ehor" class="form-control input-lg" placeholder="Horario">
							</div>
                            <br>
                            <div class="col-md-12">
								<input type="text" name="EPues" id="Epues" class="form-control input-lg" placeholder="Numero de puestos">
							</div>
							<br>
                            <label for="nombre" class="text-light form-label lead">Imagen </label>
                            <input type="file" id="img" name="img" accept="image/*">
                            <br>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-danger"   value="Editar">
 							</div>
						</fieldset>
					</form>
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				
				<div class="col-md-5">
 				 		<form role="form">
						<fieldset>							
							<label for="buscar" class="text-light form-label lead">Buscar Usuario</label>	
                            <br>
                            <div class="col-md-12">
                                <label for="cedula" class="text-light form-label lead">Documento</label>
                                <input type="text" name="doc" class="form-control input-lg">
                                
                            </div>
                            <br>
 							<div>
 									  <input type="submit" class="btn btn-lg btn-danger"   value="Buscar">
 							</div>
                            <br>
                            <label for="res" class="text-light form-label lead">Resultado:</label>
                            <br>
							<div class="col-md-12">
                                <label for="nombre" class="text-light form-label lead">NOMBRE </label>
                                <input type="text" name="nombre" class="form-control input-lg">
                                
                            </div>
                            <div class="col-md-12">
                                <label for="cedula" class="text-light form-label lead">Documento</label>
                                <input type="text" name="doc" class="form-control input-lg">
                                
                            </div>
                            <div class="col-md-12">
                                <label for="apellido" class="text-light form-label lead">APELLIDO </label>
                                <input type="text" name="apellido" class="form-control input-lg">
                                
                            </div>
                            <div class="col-md-12">
                                <label for="correo" class="text-light form-label lead">CORREO</label>
                                <input type="text" name="correo" class="form-control input-lg">
                                
                            </div>
                            <div class="col-md-12">
                                <label for="DIR" class="text-light form-label lead">DIRECCIÓN</label>
                                <input type="text" name="dir" class="form-control input-lg">
                                
                            </div>
							
                            <div class="col-md-12">
                                <label for="nas" class="text-light form-label lead">Fecha de Nacimiento</label>
                                <input type="text" name="dir" class="form-control input-lg">
                                
                            </div>
				            <br>
                            <div>
                                <input type="submit" class="btn btn-lg btn-danger"   value="Editar">
                                <input type="submit" class="btn btn-lg btn-danger"   value="Crear">
                            </div>
                            

								 
 						</fieldset>
				</form>	
				</div>
			</div>
		</div>
		
	</div>
    

</body>
</html>
